* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: gray;
   
    /* Smoothly transition the background color */
    transition: background-color .5s;
  }
   
  /* Using flex with the column direction to
     align items in a vertical direction */
  .player {
    /* height: 95vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .wrapper {
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    background-color: #ddd;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background: transparent;
    /* opacity: .9; */
  }

  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
  }
   
  .track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    /* background-image: URL(
       "https://source.unsplash.com/Qrspubmx6kE/640x360");
    background-size: cover;
    background-position: center;
    border-radius: 15%; */
    border: 2px solid #FFFAFA;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px black;
    -webkit-box-shadow: 0px 6px 5px black;
    box-shadow: 0px 6px 5px black;
    -moz-border-radius: 190px;
    -webkit-border-radius: 190px;
    border-radius: 190px;
  }
   
  /* Changing the font sizes to suitable ones */
  .now-playing {
    font-size: 1rem;
  }
   
  .track-name {
    font-size: 3rem;
  }
   
  .track-artist {
    margin-top: 5px;
    font-size: 1.5rem;
  }
   
  /* Using flex with the row direction to
     align items in a horizontal direction */
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
  }
   
  .active {
    color: black;
  }
  .unactive{
    color: #ddd;
  } 
  
  .repeat-track,
  .random-track,
  .playpause-track,
  .prev-track,
  .next-track {
    padding: 25px;
    opacity: 0.8;
   
    /* Smoothly transition the opacity */
    transition: opacity .2s;
  }
   
  /* Change the opacity when mouse is hovered */
  .repeat-track:hover,
  .random-track:hover,
  .playpause-track:hover,
  .prev-track:hover,
  .next-track:hover {
    opacity: 1.0;
  }
   
  /* Define the slider width so that it scales properly */
  .slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
  }
   
  /* Modify the appearance of the slider */
  .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
   
  /* Modify the appearance of the slider thumb */
  .seek_slider::-webkit-slider-thumb,
  .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
  }
   
  /* Change the opacity when mouse is hovered */
  .seek_slider:hover,
  .volume_slider:hover {
    opacity: 1.0;
  }
   
  .seek_slider {
    width: 80%;
  }
   
  .volume_slider {
    width: 40%;
  }
   
  .current-time,
  .total-duration {
    padding: 10px;
  }
   
  i.fa-volume-down,
  i.fa-volume-up {
    padding: 10px;
  }
   
  /* Change the mouse cursor to a pointer
     when hovered over */
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward{
    cursor: pointer;
    
  }
  
  
  
  .rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(359deg);
    }
  }
  
  .loader {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader .stroke {
    background: #f1f1f1;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1.4s linear infinite;
  }
  
  @keyframes animate {
    50% {
      height: 20%;
      background: #4286f4;
    }
  
    100% {
      background: #4286f4;
      height: 100%;
    }
  }
  
  .stroke:nth-child(1) {
    animation-delay: 0s;
  }
  
  .stroke:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .stroke:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  .stroke:nth-child(4) {
    animation-delay: 0.9s;
  }
  
  .stroke:nth-child(5) {
    animation-delay: 0.6s;
  }
  
  .stroke:nth-child(6) {
    animation-delay: 0.3s;
  }
  
  .stroke:nth-child(7) {
    animation-delay: 0s;
  }

  #addtrackp{
    justify-content: center;
    align-items: center; display: none;
  }
  
  .addtrackbtn{
    margin-left:40%;
  }
  #addnewtrack{
    margin-left:43%;
  }
  .navbar{
    color: white;
    display: flex;
    justify-content: center;
  }
#logo{
  height: 40px;
  width: 40px;
  margin-left: 10px;
}


#music-library {
    max-width: 600px; /* Adjust as per your design */
    margin: 0 auto;
    padding: 10px;
    color: #ddd;
    font-family: Arial, sans-serif;
}

#track-list {
    list-style-type: none;
    padding: 0;
}

.track-item {
    margin-bottom: 10px;
   
}
 .track-item:hover {
      cursor: pointer;
      scale: 1.1;
  }
.album-name {
    font-weight: bold;
    color: black;
}
